<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wonderluster</title>
</head>
<body>
    <h1>This is my travel website</h1>
    <div class="container"><%- body%>
        <h3>Welcome to Wonderluster!</h3>
        <p>Discover the best travel destinations around the world.</p>
    </div>
</body>
</html>
